importFrom("stats", "uniroot", "runif", "dnorm", "rnorm","pchisq", "pnorm","rmultinom")
importFrom("MixSim","MixSim","simdataset","overlap")
importFrom("psych", "mardia")
importFrom("mvtnorm", "dmvnorm", "rmvnorm")
importFrom("parallel", "makePSOCKcluster", "stopCluster", "clusterExport","parLapply","clusterSetRNGStream","makeCluster")
importFrom("graphics", "contour","par")
export(MixSim.skew)
export(MixSim.cwm)
export(MixSim.skewcwm)
export(contour2d)
export(simdataset.skew)
export(simdataset.cwm)
export(simdataset.skewcwm)

